# Example sample data

1. Not all loans are fully funded by investors. For now, ignore amount of investor funding **funded_amnt_inv** and go by total funding **funded_amnt** and total payment **total_pymnt**

#### Plan 1: get back to SVC
1. get only finished loans
2. build labels if loan charged off
3. train/test/validate

In [1]:
import pandas as pd
import numpy as np

import pandas_helper
import lendingclub_helper

In [3]:
df = pandas_helper.readData("sample.csv", lendingclub_helper.dtypes)
df.shape  # (1000, 151)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,117870332,NaN,11500,11500,11500.0,36 months,9.44%,368.06,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,10464824,NaN,7000,7000,7000.0,36 months,22.90%,270.61,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,12986787,NaN,33425,33425,33425.0,60 months,21.99%,922.98,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,119200730,NaN,30000,30000,30000.0,60 months,17.09%,747.03,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,75729548,NaN,19000,19000,19000.0,36 months,23.13%,736.78,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df[df.funded_amnt > df.funded_amnt_inv].shape  # (68, 151)
df[df.total_pymnt > df.total_pymnt_inv].shape  # (235, 151)
# the discrepancy is because of rounding error -- these are equal when round both to two decimal places
# all(df.loan_amnt == df.funded_amnt)  # True

True

In [6]:
paid = df[df.loan_status == "Fully Paid"]
paid.shape  # (402, 151)
paid

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
8,3149564,NaN,17625,17625,17625.0,60 months,22.95%,496.36,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
10,41101003,NaN,25000,25000,25000.0,36 months,6.39%,764.98,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
13,2995226,NaN,17000,17000,17000.0,36 months,10.16%,549.83,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
14,97328958,NaN,7500,7500,7500.0,36 months,11.39%,246.93,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
16,22304679,NaN,10000,10000,10000.0,36 months,13.35%,338.63,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
17,55109089,NaN,32000,32000,32000.0,36 months,12.29%,1067.30,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18,516382,NaN,16000,16000,15975.0,60 months,15.21%,382.41,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19,60822284,NaN,9000,9000,9000.0,36 months,10.99%,294.61,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
21,72522504,NaN,7800,7800,7800.0,36 months,12.99%,262.78,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
26,46588093,NaN,15000,15000,15000.0,36 months,17.57%,539.06,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
27,633459,NaN,5000,5000,5000.0,60 months,15.57%,120.46,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
30,75790532,NaN,7000,7000,7000.0,36 months,8.39%,220.62,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
33,8285737,NaN,5875,5875,5875.0,36 months,14.30%,201.66,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
35,111441519,NaN,10000,10000,10000.0,36 months,9.44%,320.05,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
38,41338867,NaN,7500,7500,7500.0,36 months,11.53%,247.43,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
39,61503031,NaN,10000,10000,10000.0,36 months,8.18%,314.20,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
43,41900118,NaN,20000,20000,20000.0,36 months,15.61%,699.30,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
44,61802217,NaN,30000,30000,30000.0,36 months,8.18%,942.59,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
45,55199411,NaN,8000,8000,8000.0,36 months,12.29%,266.83,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
48,70941229,NaN,2400,2400,2400.0,36 months,8.39%,75.64,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49,6578668,NaN,8000,8000,8000.0,36 months,10.99%,261.88,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
50,5620250,NaN,11500,11500,11500.0,36 months,17.77%,414.43,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
51,39681860,NaN,8000,8000,8000.0,36 months,6.49%,245.16,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
53,6328430,NaN,17000,17000,17000.0,36 months,9.71%,546.24,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
54,9228851,NaN,18000,18000,17950.0,36 months,9.67%,578.03,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
55,88996740,NaN,1500,1500,1500.0,36 months,10.99%,49.11,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
56,43290328,NaN,15000,15000,15000.0,36 months,13.33%,507.80,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
58,68744014,NaN,10000,10000,10000.0,60 months,20.50%,267.73,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
61,5777787,NaN,13000,13000,13000.0,36 months,12.12%,432.54,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
64,10628626,NaN,7400,7400,7400.0,36 months,13.53%,251.23,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
917,26057279,NaN,10000,10000,10000.0,36 months,12.99%,336.90,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
924,33521524,NaN,10000,10000,10000.0,36 months,16.49%,354.00,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
929,43419833,NaN,6000,6000,6000.0,36 months,12.29%,200.12,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
931,53141352,NaN,12000,12000,11975.0,60 months,17.86%,303.81,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
940,88381431,NaN,6600,6600,6600.0,36 months,6.99%,203.76,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
941,8096321,NaN,15000,15000,14950.0,60 months,12.99%,341.22,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
943,52698478,NaN,13925,13925,13925.0,60 months,16.55%,342.72,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
947,9765518,NaN,7200,7200,7200.0,36 months,9.67%,231.21,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
949,10754578,NaN,12000,12000,12000.0,60 months,14.98%,285.36,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
951,75311649,NaN,7000,7000,7000.0,36 months,11.99%,232.47,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
952,68028828,NaN,1400,1400,1400.0,36 months,13.67%,47.63,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
953,8667489,NaN,35000,35000,35000.0,36 months,17.10%,1249.59,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
954,72154292,NaN,35000,35000,35000.0,36 months,12.99%,1179.12,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
955,60771303,NaN,13600,13600,13550.0,60 months,20.99%,367.85,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
956,3369830,NaN,24375,24375,24375.0,36 months,13.11%,822.59,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
961,61882118,NaN,22000,22000,22000.0,36 months,12.29%,733.77,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
966,44125145,NaN,30000,30000,30000.0,60 months,17.86%,759.52,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
967,17894706,NaN,14500,14500,14500.0,60 months,10.15%,309.16,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
971,13498410,NaN,10000,10000,10000.0,36 months,11.67%,330.57,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
972,35073862,NaN,30000,30000,30000.0,60 months,9.49%,629.91,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
975,10575238,NaN,35000,35000,35000.0,60 months,17.57%,880.61,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
976,61370889,NaN,20000,20000,20000.0,60 months,9.17%,416.82,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
978,20702811,NaN,9525,9525,9525.0,36 months,13.98%,325.45,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
979,32468959,NaN,24000,24000,24000.0,36 months,14.99%,831.86,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
980,42954408,NaN,12000,12000,12000.0,36 months,6.68%,368.78,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
983,95895890,NaN,2000,2000,2000.0,36 months,15.99%,70.31,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
986,98708408,NaN,4100,4100,4100.0,36 months,13.49%,139.12,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
989,1610737,NaN,22475,22475,22475.0,36 months,15.31%,782.52,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
990,11256163,NaN,7000,7000,7000.0,36 months,8.90%,222.28,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
994,102349752,NaN,35000,35000,34975.0,36 months,11.44%,1153.17,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# loan_amnt vs total_pymnt
# all(paid.loan_amnt < paid.total_pymnt)  # True
# pd.DataFrame(paid.int_rate, paid.int_rate.apply(lambda x : x[0]))

         int_rate
int_rate
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
...           ...
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN
              NaN

[402 rows x 1 columns]

In [5]:
# lendingclub_helper.buildDateFeature(paid, "issue_d")
# lendingclub_helper.buildDateFeature(paid, "last_pymnt_d")
# lendingclub_helper.getFeatureColumns(paid)

paid["f_issue_d"] = pd.to_datetime(paid["issue_d"])
paid["f_last_pymnt_d"] = pd.to_datetime(paid["last_pymnt_d"])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
paid[["f_issue_d", "f_last_pymnt_d"]]
# paid.f_last_pymnt_d - paid.f_issue_d
# paid.f_issue_d + np.timedelta64(1, "D")

# """
# TODO:
# use dateutil to add months
# get actual term in months
# calculate actual interest rate
# for Fully Paid should be the same as column "int_rate"
# """

paid["f_actual_term"] = paid["f_last_pymnt_d"] - paid["f_issue_d"]  # TODO: get difference in months
paid["f_actual_term"]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

8     1186 days
10    1065 days
13     608 days
14     273 days
16     853 days
17     854 days
18    1369 days
19      91 days
21     275 days
26     427 days
27    1765 days
30     487 days
33     822 days
35       0 days
38     519 days
39     701 days
43     792 days
44     244 days
45      31 days
48     214 days
49     609 days
50    1126 days
51     700 days
53     335 days
54     821 days
55      61 days
56     335 days
58     609 days
61     883 days
64     485 days
         ...
917   1096 days
924    517 days
929    306 days
931    489 days
940    426 days
941   1127 days
943    366 days
947   1096 days
949    546 days
951    365 days
952     91 days
953    822 days
954     60 days
955    578 days
956    579 days
961    731 days
966    672 days
967   1004 days
971   1096 days
972   1126 days
975   1127 days
976    397 days
978    396 days
979    517 days
980    976 days
983    335 days
986     28 days
989    850 days
990   1127 days
994    337 days
Name: f_actual_term, Length: 402, dtype: timedelta64[ns]

In [35]:
dir(np.timedelta64)  # 1186
# paid["f_actual_term"].real
102470400000000000 / 1000000000 / 60 / 60 /24

1186.0