In [1]:
import pandas_helper
import lendingclub_helper
import lendingclub_columns
import scikit_helper
import sklearn as sk
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
filename = "finished_train_sample.csv"
df = pandas_helper.readData(filename, lendingclub_columns.get_dtypes_by_name())
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,57164148,NaN,5000,5000,5000.0,36 months,9.17%,159.40,B,B2,...,NaN,NaN,Cash,Y,Sep-2017,COMPLETE,Jul-2017,1114.35,45.0,1.0
1,78528689,NaN,5000,5000,5000.0,36 months,5.32%,150.58,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,96664579,NaN,29875,29875,29875.0,60 months,21.49%,816.48,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,2368392,NaN,21000,21000,21000.0,60 months,16.29%,513.93,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,35266392,NaN,25000,25000,25000.0,36 months,11.44%,823.69,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,50627297,NaN,11200,11200,11200.0,36 months,12.29%,373.56,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,40247127,NaN,15000,15000,15000.0,36 months,12.99%,505.34,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,5445601,NaN,20000,20000,20000.0,36 months,12.12%,665.44,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
8,74492779,NaN,8400,8400,8400.0,36 months,12.99%,282.99,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,6874760,NaN,14550,14550,14550.0,60 months,18.85%,376.24,D,D3,...,NaN,NaN,Cash,Y,Aug-2017,BROKEN,Mar-2017,3579.12,30.0,12.0
10,63908288,NaN,7200,7200,7200.0,36 months,11.49%,237.40,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
11,18314642,NaN,30000,30000,30000.0,60 months,20.20%,798.16,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
12,7667832,NaN,21000,21000,21000.0,36 months,12.99%,707.48,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
13,20488419,NaN,7000,7000,7000.0,36 months,13.35%,237.04,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
14,18655695,NaN,10800,10800,10800.0,36 months,11.67%,357.02,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
15,25376349,NaN,5000,5000,5000.0,36 months,8.39%,157.59,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
16,43419400,NaN,20000,20000,20000.0,60 months,9.17%,416.82,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
17,35551146,NaN,20000,20000,20000.0,36 months,6.99%,617.46,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18,16271626,NaN,5600,5600,5600.0,36 months,15.61%,195.81,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19,76102266,NaN,6025,6025,6025.0,36 months,10.75%,196.54,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
20,31738102,NaN,6500,6500,6500.0,36 months,13.98%,222.10,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
21,34191891,NaN,20000,20000,20000.0,36 months,7.49%,622.04,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
22,3158469,NaN,22250,22250,22250.0,60 months,21.98%,614.27,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23,55929605,NaN,5000,5000,5000.0,36 months,7.89%,156.43,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
24,25177385,NaN,26000,26000,25975.0,36 months,11.67%,859.48,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
25,566078,NaN,14400,14400,14200.0,36 months,7.88%,450.45,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
26,463390,NaN,24250,24250,23200.0,36 months,12.18%,807.53,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
27,1693867,NaN,8000,8000,8000.0,36 months,15.31%,278.54,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
28,89764831,NaN,12000,12000,12000.0,60 months,27.79%,372.12,F,F5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
29,110090727,NaN,3650,3650,3650.0,36 months,10.91%,119.35,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,7368744,NaN,5000,5000,5000.0,36 months,20.20%,186.33,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
971,3495018,NaN,17000,17000,17000.0,36 months,10.16%,549.83,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
972,853562,NaN,12000,8700,8675.0,60 months,10.99%,189.12,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
973,63216643,NaN,6350,6350,6350.0,36 months,12.69%,213.01,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
974,8609966,NaN,15000,15000,15000.0,36 months,11.99%,498.15,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
975,100102714,NaN,15000,15000,15000.0,36 months,11.49%,494.57,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
976,13398657,NaN,27200,27200,27200.0,60 months,14.16%,635.16,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
977,66075192,NaN,5000,5000,5000.0,36 months,5.32%,150.58,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
978,36039217,NaN,5000,5000,5000.0,36 months,14.99%,173.31,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
979,7103267,NaN,5000,5000,5000.0,36 months,13.05%,168.60,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
980,103047522,NaN,4250,4250,4250.0,36 months,12.74%,142.67,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
981,70272422,NaN,25000,25000,25000.0,36 months,7.39%,776.40,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
982,28544603,NaN,18000,18000,18000.0,36 months,10.15%,582.08,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
983,113071236,NaN,10000,10000,10000.0,36 months,16.02%,351.67,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
984,11045106,NaN,18000,18000,17975.0,36 months,11.99%,597.78,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
985,519688,NaN,10500,10500,10500.0,36 months,15.70%,367.60,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
986,1578337,NaN,4500,4500,4500.0,36 months,10.16%,145.55,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
987,20508950,NaN,35000,35000,35000.0,36 months,19.52%,1292.19,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
988,5949836,NaN,3200,3200,3200.0,36 months,18.85%,117.06,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
989,31357371,NaN,5000,5000,5000.0,36 months,7.69%,155.97,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
990,53272907,NaN,12700,12700,12700.0,36 months,8.18%,399.03,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
991,7701421,NaN,10000,10000,10000.0,36 months,10.99%,327.34,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
992,6552932,NaN,10000,10000,10000.0,36 months,15.22%,347.74,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
993,47038397,NaN,35000,35000,35000.0,60 months,25.80%,1043.78,G,G1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
994,54493315,NaN,5000,5000,5000.0,36 months,5.32%,150.58,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
995,46765038,NaN,31000,31000,31000.0,36 months,18.84%,1133.84,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
996,1138169,NaN,5000,5000,5000.0,36 months,14.27%,171.55,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
997,45824435,NaN,4050,4050,4050.0,36 months,19.52%,149.53,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
998,59699585,NaN,25925,25925,25925.0,36 months,18.55%,944.42,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999,32299850,NaN,15000,15000,15000.0,36 months,14.99%,519.91,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
feature_columns = lendingclub_columns.get_columns_by_names(["annual_inc"])
lendingclub_helper.build_features_by_columns(df, feature_columns)
lendingclub_helper.buildCategorialLabel(df, "loan_status", lendingclub_helper.parse_loan_status)

In [4]:
feature_columns = format(lendingclub_helper.getFeatureColumns(df))
label_columns = format(lendingclub_helper.getLabelColumns(df))

print("features: {}".format(feature_columns))
print("labels: {}".format(label_columns))

features: Index(['f_annual_inc'], dtype='object')
labels: Index(['l_loan_status'], dtype='object')

In [12]:
feature_columns
# df[[feature_columns]]

"Index(['f_annual_inc'], dtype='object')"