In [14]:
import definitions
import pandas_helper
import scikit_helper
import lendingclub_helper
import pandas as pd

In [15]:
df = pd.read_pickle("sample.pkl")

In [16]:
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
635695,169350,57225033,NaN,10500,10500,10500.0,36 months,10.99%,343.71,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
768304,301959,46745773,NaN,12600,12600,12600.0,36 months,16.99%,449.17,D,...,3038.36,51.66,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
307523,76807,27720342,NaN,12250,12250,12250.0,36 months,15.61%,428.32,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
581111,114766,61342087,NaN,12000,12000,12000.0,36 months,6.24%,366.37,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
570012,103667,62176077,NaN,15000,15000,15000.0,36 months,5.32%,451.73,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN