In [1]:
import definitions
import pandas_helper
import scikit_helper
import lendingclub_helper

In [2]:
definitions.dataFiles

{'2007-2011': '../data/LoanStats3a_securev1.csv',
 '2012-2013': '../data/LoanStats3b_securev1.csv',
 '2014': '../data/LoanStats3c_securev1.csv',
 '2015': '../data/LoanStats3d_securev1.csv',
 '2016Q1': '../data/LoanStats_securev1_2016Q1.csv',
 '2016Q2': '../data/LoanStats_securev1_2016Q2.csv',
 '2016Q3': '../data/LoanStats_securev1_2016Q3.csv',
 '2016Q4': '../data/LoanStats_securev1_2016Q4.csv',
 '2017Q1': '../data/LoanStats_securev1_2017Q1.csv',
 '2017Q2': '../data/LoanStats_securev1_2017Q2.csv',
 '2017Q3': '../data/LoanStats_securev1_2017Q3.csv',
 '2017Q4': '../data/LoanStats_securev1_2017Q4.csv'}

In [3]:
key = '2007-2011'
datafile = definitions.dataFiles[key]
df = pandas_helper.readData(datafile)

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1077501,NaN,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,NaN,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,NaN,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,NaN,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,NaN,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
lendingclub_helper.buildOneHotEncodingFeature(df, "addr_state")

In [6]:
lendingclub_helper.getFeatureColumns(df)

Index(['f_addr_state', 'f_addr_state_AK', 'f_addr_state_AL', 'f_addr_state_AR',
       'f_addr_state_AZ', 'f_addr_state_CA', 'f_addr_state_CO',
       'f_addr_state_CT', 'f_addr_state_DC', 'f_addr_state_DE',
       'f_addr_state_FL', 'f_addr_state_GA', 'f_addr_state_HI',
       'f_addr_state_IA', 'f_addr_state_ID', 'f_addr_state_IL',
       'f_addr_state_IN', 'f_addr_state_KS', 'f_addr_state_KY',
       'f_addr_state_LA', 'f_addr_state_MA', 'f_addr_state_MD',
       'f_addr_state_ME', 'f_addr_state_MI', 'f_addr_state_MN',
       'f_addr_state_MO', 'f_addr_state_MS', 'f_addr_state_MT',
       'f_addr_state_NC', 'f_addr_state_NE', 'f_addr_state_NH',
       'f_addr_state_NJ', 'f_addr_state_NM', 'f_addr_state_NV',
       'f_addr_state_NY', 'f_addr_state_OH', 'f_addr_state_OK',
       'f_addr_state_OR', 'f_addr_state_PA', 'f_addr_state_RI',
       'f_addr_state_SC', 'f_addr_state_SD', 'f_addr_state_TN',
       'f_addr_state_TX', 'f_addr_state_UT', 'f_addr_state_VA',
       'f_addr_state_VT', 'f_addr_state_WA', 'f_addr_state_WI',
       'f_addr_state_WV', 'f_addr_state_WY'],
      dtype='object')

In [11]:
all(df["f_addr_state"] == df["addr_state"])

True

In [12]:
df.drop("f_addr_state", 1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,f_addr_state_SD,f_addr_state_TN,f_addr_state_TX,f_addr_state_UT,f_addr_state_VA,f_addr_state_VT,f_addr_state_WA,f_addr_state_WI,f_addr_state_WV,f_addr_state_WY
0,1077501,NaN,5000,5000,4975.000000,36 months,10.65%,162.87,B,B2,...,0,0,0,0,0,0,0,0,0,0
1,1077430,NaN,2500,2500,2500.000000,60 months,15.27%,59.83,C,C4,...,0,0,0,0,0,0,0,0,0,0
2,1077175,NaN,2400,2400,2400.000000,36 months,15.96%,84.33,C,C5,...,0,0,0,0,0,0,0,0,0,0
3,1076863,NaN,10000,10000,10000.000000,36 months,13.49%,339.31,C,C1,...,0,0,0,0,0,0,0,0,0,0
4,1075358,NaN,3000,3000,3000.000000,60 months,12.69%,67.79,B,B5,...,0,0,0,0,0,0,0,0,0,0
5,1075269,NaN,5000,5000,5000.000000,36 months,7.90%,156.46,A,A4,...,0,0,0,0,0,0,0,0,0,0
6,1069639,NaN,7000,7000,7000.000000,60 months,15.96%,170.08,C,C5,...,0,0,0,0,0,0,0,0,0,0
7,1072053,NaN,3000,3000,3000.000000,36 months,18.64%,109.43,E,E1,...,0,0,0,0,0,0,0,0,0,0
8,1071795,NaN,5600,5600,5600.000000,60 months,21.28%,152.39,F,F2,...,0,0,0,0,0,0,0,0,0,0
9,1071570,NaN,5375,5375,5350.000000,60 months,12.69%,121.45,B,B5,...,0,0,1,0,0,0,0,0,0,0
10,1070078,NaN,6500,6500,6500.000000,60 months,14.65%,153.45,C,C3,...,0,0,0,0,0,0,0,0,0,0
11,1069908,NaN,12000,12000,12000.000000,36 months,12.69%,402.54,B,B5,...,0,0,0,0,0,0,0,0,0,0
12,1064687,NaN,9000,9000,9000.000000,36 months,13.49%,305.38,C,C1,...,0,0,0,0,1,0,0,0,0,0
13,1069866,NaN,3000,3000,3000.000000,36 months,9.91%,96.68,B,B1,...,0,0,0,0,0,0,0,0,0,0
14,1069057,NaN,10000,10000,10000.000000,36 months,10.65%,325.74,B,B2,...,0,0,0,0,0,0,0,0,0,0
15,1069759,NaN,1000,1000,1000.000000,36 months,16.29%,35.31,D,D1,...,0,0,0,0,0,0,0,0,0,0
16,1065775,NaN,10000,10000,10000.000000,36 months,15.27%,347.98,C,C4,...,0,0,0,0,0,0,0,0,0,0
17,1069971,NaN,3600,3600,3600.000000,36 months,6.03%,109.57,A,A1,...,0,0,0,0,0,0,0,0,0,0
18,1062474,NaN,6000,6000,6000.000000,36 months,11.71%,198.46,B,B3,...,0,0,0,1,0,0,0,0,0,0
19,1069742,NaN,9200,9200,9200.000000,36 months,6.03%,280.01,A,A1,...,0,0,0,0,0,0,0,0,0,0
20,1069740,NaN,20250,20250,19142.161077,60 months,15.27%,484.63,C,C4,...,0,0,1,0,0,0,0,0,0,0
21,1039153,NaN,21000,21000,21000.000000,36 months,12.42%,701.73,B,B4,...,0,0,0,0,0,0,0,0,0,0
22,1069710,NaN,10000,10000,10000.000000,36 months,11.71%,330.76,B,B3,...,0,0,1,0,0,0,0,0,0,0
23,1069700,NaN,10000,10000,10000.000000,36 months,11.71%,330.76,B,B3,...,0,0,0,0,0,0,0,0,0,0
24,1069559,NaN,6000,6000,6000.000000,36 months,11.71%,198.46,B,B3,...,0,0,0,0,0,0,0,0,0,0
25,1069697,NaN,15000,15000,15000.000000,36 months,9.91%,483.38,B,B1,...,0,0,0,0,0,0,0,0,0,0
26,1069800,NaN,15000,15000,8725.000000,36 months,14.27%,514.64,C,C2,...,0,0,0,0,0,0,0,0,0,0
27,1069657,NaN,5000,5000,5000.000000,60 months,16.77%,123.65,D,D2,...,0,0,0,0,0,0,0,0,0,0
28,1069799,NaN,4000,4000,4000.000000,36 months,11.71%,132.31,B,B3,...,0,0,0,0,0,0,0,0,0,0
29,1047704,NaN,8500,8500,8500.000000,36 months,11.71%,281.15,B,B3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42505,94406,NaN,6725,6725,825.000000,36 months,13.12%,226.98,D,D5,...,0,0,0,0,0,0,0,0,0,0
42506,93055,NaN,2000,2000,1025.000000,36 months,12.80%,67.20,D,D4,...,0,0,0,0,0,0,0,0,0,0
42507,91175,NaN,6000,6000,1200.000000,36 months,13.12%,202.51,D,D5,...,0,0,0,0,0,0,0,0,0,0
42508,91126,NaN,5350,5350,625.000000,36 months,13.12%,180.57,D,D5,...,0,0,0,0,0,0,0,0,0,0
42509,91023,NaN,1900,1900,900.000000,36 months,9.64%,61.00,B,B4,...,0,0,0,0,0,0,0,0,0,0
42510,90106,NaN,10000,10000,350.000000,36 months,14.70%,345.18,E,E5,...,0,0,0,0,0,0,0,0,0,0
42511,89258,NaN,2000,2000,1275.000000,36 months,7.12%,61.87,A,A1,...,0,0,0,0,0,0,0,0,0,0
42512,88637,NaN,6000,6000,650.000000,36 months,10.59%,195.28,C,C2,...,0,0,0,0,0,0,0,0,0,0
42513,88046,NaN,4400,4400,1400.000000,36 months,9.64%,141.25,B,B4,...,0,0,0,0,0,0,0,0,0,0
42514,85961,NaN,1200,1200,500.000000,36 months,9.01%,38.17,B,B2,...,0,0,1,0,0,0,0,0,0,0
42515,85818,NaN,5000,5000,375.000000,36 months,11.22%,164.23,C,C4,...,0,0,0,0,0,0,0,0,0,0
42516,85781,NaN,1400,1400,475.000000,36 months,10.91%,45.78,C,C3,...,0,0,0,0,0,0,0,0,0,0
42517,85675,NaN,1000,1000,625.000000,36 months,14.07%,34.21,E,E3,...,0,0,0,0,0,0,0,0,0,0
42518,84670,NaN,5000,5000,300.000000,36 months,7.75%,156.11,A,A3,...,0,0,0,0,0,0,0,0,0,0
42519,84098,NaN,2500,2500,225.000000,36 months,7.43%,77.69,A,A2,...,0,0,0,0,0,0,0,0,0,0
42520,83979,NaN,3000,3000,250.000000,36 months,7.43%,93.23,A,A2,...,0,0,0,0,0,0,0,0,0,0
42521,83489,NaN,2600,2600,575.000000,36 months,8.38%,81.94,A,A5,...,0,0,0,0,0,0,0,0,0,0
42522,83185,NaN,1000,1000,625.000000,36 months,7.12%,30.94,A,A1,...,0,0,0,0,0,0,0,0,0,0
42523,74014,NaN,6450,6450,0.000000,36 months,11.22%,211.85,C,C4,...,0,0,0,0,0,0,0,0,0,0
42524,76629,NaN,1275,1275,0.000000,36 months,12.49%,42.65,D,D3,...,0,0,0,0,0,0,0,0,0,0
42525,81085,NaN,10500,10500,275.000000,36 months,11.22%,344.87,C,C4,...,0,0,0,0,0,0,0,0,0,0
42526,77792,NaN,3000,3000,125.000000,36 months,9.01%,95.42,B,B2,...,0,0,0,0,0,0,0,0,0,0
42527,77757,NaN,3000,3000,0.000000,36 months,9.33%,95.86,B,B3,...,0,0,0,0,0,0,0,0,0,0
42528,74505,NaN,2000,2000,225.000000,36 months,9.96%,64.50,B,B5,...,0,0,0,0,0,0,0,0,0,0
42529,74323,NaN,6500,6500,0.000000,36 months,9.64%,208.66,B,B4,...,0,0,0,0,0,0,0,0,0,0
42530,73582,NaN,3500,3500,225.000000,36 months,10.28%,113.39,C,C1,...,0,0,0,0,0,0,0,0,0,0
42531,72998,NaN,1000,1000,0.000000,36 months,9.64%,32.11,B,B4,...,0,0,0,0,0,0,0,0,0,0
42532,72176,NaN,2525,2525,225.000000,36 months,9.33%,80.69,B,B3,...,0,0,0,0,0,0,0,0,0,0
42533,71623,NaN,6500,6500,0.000000,36 months,8.38%,204.84,A,A5,...,0,0,0,0,0,0,0,0,0,0
42534,70686,NaN,5000,5000,0.000000,36 months,7.75%,156.11,A,A3,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df["f_addr_state"]

0        AZ
1        GA
2        IL
3        CA
4        OR
5        AZ
6        NC
7        CA
8        CA
9        TX
10       AZ
11       CA
12       VA
13       IL
14       CA
15       MO
16       CA
17       CT
18       UT
19       CA
20       TX
21       FL
22       TX
23       CA
24       CA
25       IL
26       NY
27       PA
28       FL
29       MN
         ..
42505    MO
42506    NC
42507    NY
42508    NJ
42509    FL
42510    GA
42511    CT
42512    CT
42513    NJ
42514    TX
42515    NJ
42516    MO
42517    NJ
42518    LA
42519    OH
42520    NJ
42521    CO
42522    NY
42523    GA
42524    MA
42525    CT
42526    KS
42527    MA
42528    FL
42529    CT
42530    NY
42531    MA
42532    NY
42533    NY
42534    CT
Name: f_addr_state, Length: 42535, dtype: object