In [1]:
import pandas_helper
import lendingclub_helper
import lendingclub_columns
import scikit_helper
import sklearn as sk
import numpy as np
import pandas as pd
from datetime import datetime

In [4]:
filename = "sample.csv"
columns = lendingclub_columns.get_column_by_feature_type("one-hot encoding")
column_names = [c["name"] for c in columns]
df = pandas_helper.readData(filename, lendingclub_columns.get_dtypes_by_name())
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,1.000000e+03,0.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,999.000000,1000.000000,1000.000000,...,3.0,3.000000,3.0,3.000000,3.000000,3.000000,3.000000,10.000000,10.00000,10.000000
mean,6.442082e+07,NaN,14536.575000,14536.575000,14520.423440,432.275390,74813.538350,18.201011,0.347000,695.725000,...,3.0,106.946667,3.0,10.333333,320.840000,9015.810000,246.406667,5009.463000,47.90900,15.600000
std,3.794659e+07,NaN,8596.793458,8596.793458,8597.206025,255.597202,49395.781436,8.890391,0.918387,32.050376,...,0.0,52.013702,0.0,11.060440,156.041107,2252.289746,119.908634,2320.411668,4.05774,8.579044
min,3.637630e+05,NaN,1000.000000,1000.000000,1000.000000,31.880000,1.000000,0.230000,0.000000,660.000000,...,3.0,69.900000,3.0,0.000000,209.700000,7369.400000,108.930000,1679.830000,44.99000,0.000000
25%,3.436728e+07,NaN,8000.000000,8000.000000,8000.000000,253.062500,45000.000000,11.965000,0.000000,670.000000,...,3.0,77.215000,3.0,4.500000,231.645000,7732.455000,204.910000,3076.837500,45.00000,12.000000
50%,6.813056e+07,NaN,12137.500000,12137.500000,12012.500000,367.230000,65000.000000,17.760000,0.000000,685.000000,...,3.0,84.530000,3.0,9.000000,253.590000,8095.510000,300.890000,4993.335000,45.00000,15.000000
75%,9.590349e+07,NaN,20000.000000,20000.000000,20000.000000,558.237500,92000.000000,23.980000,0.000000,710.000000,...,3.0,125.470000,3.0,15.500000,376.410000,9839.015000,315.145000,6819.400000,50.00000,24.000000
max,1.263584e+08,NaN,40000.000000,40000.000000,40000.000000,1406.820000,780000.000000,95.660000,13.000000,830.000000,...,3.0,166.410000,3.0,22.000000,499.230000,11582.520000,329.400000,8881.500000,55.00000,24.000000

In [6]:
column_names

['addr_state',
 'application_type',
 'debt_settlement_flag',
 'disbursement_method',
 'emp_length',
 'grade',
 'hardship_flag',
 'hardship_loan_status',
 'hardship_reason',
 'hardship_status',
 'hardship_type',
 'home_ownership',
 'initial_list_status',
 'loan_status',
 'policy_code',
 'purpose',
 'pymnt_plan',
 'settlement_status',
 'sub_grade',
 'term',
 'verification_status',
 'verification_status_joint',
 'zip_code']

In [25]:
for col in column_names:
    s = set(df[col].dropna().values)
    t = set(type(c) for c in s)
    if len(t) != 1:
        print("col=", col)
        print("types=", t)

In [23]:
col_name = "emp_length"
set(df[col_name].dropna().values)

{'1 year',
 '10+ years',
 '2 years',
 '3 years',
 '4 years',
 '5 years',
 '6 years',
 '7 years',
 '8 years',
 '9 years',
 '< 1 year'}

In [6]:
# label_columns = lendingclub_helper.getLabelColumns(df)
# label_columns

In [7]:
# features = df[feature_columns]
# features.head()

In [8]:
# labels = df[label_columns[0]]
# labels.head()

In [5]:
col = "hardship_start_date"
# col = "settlement_date"
lendingclub_helper.buildDateFeature(df, col)
feature_columns = lendingclub_helper.getFeatureColumns(df)
feature_columns
# f_diff = "f_{0}_diff".format(col)
# today = datetime.today()
# df[f_diff] = (today - pd.to_datetime(df[col]))/np.timedelta64(1, "D")
# df[f_diff].fillna(today)
# df[f_diff] = df[f_diff].fillna(df[f_diff].mean())
# set(df[col].fillna("NULL").values)
# pd.to_datetime(df[col]).dt.strftime('%b')

Index(['f_hardship_start_date_month_NULL', 'f_hardship_start_date_month_Jan',
       'f_hardship_start_date_month_Feb', 'f_hardship_start_date_month_Mar',
       'f_hardship_start_date_month_Apr', 'f_hardship_start_date_month_May',
       'f_hardship_start_date_month_Jun', 'f_hardship_start_date_month_Jul',
       'f_hardship_start_date_month_Aug', 'f_hardship_start_date_month_Sep',
       'f_hardship_start_date_month_Oct', 'f_hardship_start_date_month_Nov',
       'f_hardship_start_date_month_Dec', 'f_hardship_start_date_diff'],
      dtype='object')

In [6]:
df[feature_columns]

,f_settlement_date_month_Apr,f_settlement_date_month_Aug,f_settlement_date_month_Feb,f_settlement_date_month_Jan,f_settlement_date_month_Jul,f_settlement_date_month_Mar,f_settlement_date_month_May,f_settlement_date_month_NULL,f_settlement_date_month_Nov,f_settlement_date_month_Oct,f_settlement_date_month_Sep,f_settlement_date_month_Jun,f_settlement_date_month_Dec,f_settlement_date_diff
0,0,0,0,0,1,0,0,0,0,0,0,0.0,0.0,354.843732
1,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
2,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
3,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
4,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
5,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
6,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
7,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
8,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
9,0,0,0,0,0,1,0,0,0,0,0,0.0,0.0,476.843732
10,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
11,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
12,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
13,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
14,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
15,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
16,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
17,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
18,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
19,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
20,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
21,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
22,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
23,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
24,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
25,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
26,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
27,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
28,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
29,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
971,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
972,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
973,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
974,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
975,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
976,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
977,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
978,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
979,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
980,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
981,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
982,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
983,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
984,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
985,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
986,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
987,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
988,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
989,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
990,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
991,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
992,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
993,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
994,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
995,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
996,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
997,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
998,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000
999,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.000000

In [50]:
v = df[col][0]
pd.to_datetime(v)
# pd.to_datetime(df[col]).dt.strftime('%b')

NaT

In [28]:
df[col].isnull().all()

True

In [22]:
for c in feature_columns:
    try:
        sk.utils.assert_all_finite(df[c].values)
    except Exception as e:
        print(e)
        print(c)
        break

Input contains NaN, infinity or a value too large for dtype('float64').
f_hardship_start_date_diff

In [29]:
# df[["hardship_start_date", "f_hardship_start_date_month_NULL", "f_hardship_start_date_diff"]]
hardship_columns = [c for c in df.columns if "hardship_start_date" in c]
print(hardship_columns)

['hardship_start_date', 'f_hardship_start_date_month_Dec', 'f_hardship_start_date_month_NaT', 'f_hardship_start_date_month_Oct', 'f_hardship_start_date_diff']