In [1]:
import pandas_helper
import lendingclub_helper
import scikit_helper
import sklearn as sk
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
train_data_file = "finished_train_sample.csv"
df = pandas_helper.readData(train_data_file, lendingclub_helper.dtypes)
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,1.000000e+03,0.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.000000,21.000000,21.000000
mean,3.997987e+07,NaN,14764.550000,14748.300000,14699.039029,452.296850,77917.934470,17.614940,0.300000,696.560000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5361.642857,47.245714,13.285714
std,3.253072e+07,NaN,8566.801453,8570.828867,8584.553123,265.259847,59750.445198,8.276416,0.843037,32.272402,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2803.349960,5.822807,8.538986
min,1.798970e+05,NaN,1000.000000,1000.000000,0.000000,33.210000,10000.000000,0.030000,0.000000,660.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,891.000000,30.000000,0.000000
25%,8.999260e+06,NaN,8000.000000,8000.000000,8000.000000,254.675000,46000.000000,11.580000,0.000000,670.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3505.000000,45.000000,6.000000
50%,3.540877e+07,NaN,13875.000000,13875.000000,13812.500000,389.460000,65000.000000,16.900000,0.000000,690.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5931.230000,45.000000,18.000000
75%,6.636608e+07,NaN,20000.000000,20000.000000,20000.000000,592.882500,93000.000000,22.917500,0.000000,711.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7537.720000,50.000000,18.000000
max,1.226793e+08,NaN,40000.000000,40000.000000,40000.000000,1347.570000,980000.000000,45.160000,12.000000,845.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9842.000000,60.000000,24.000000

In [3]:
# lendingclub_helper.buildDateFeature(df, "hardship_start_date")
lendingclub_helper.buildFeatures(df)

In [4]:
feature_columns = lendingclub_helper.getFeatureColumns(df)
feature_columns

Index(['f_acc_now_delinq', 'f_acc_open_past_24mths', 'f_addr_state_AK',
       'f_addr_state_AL', 'f_addr_state_AR', 'f_addr_state_AZ',
       'f_addr_state_CA', 'f_addr_state_CO', 'f_addr_state_CT',
       'f_addr_state_DC',
       ...
       'f_settlement_date_month_Mar', 'f_settlement_date_month_May',
       'f_settlement_date_month_NULL', 'f_settlement_date_month_Nov',
       'f_settlement_date_month_Oct', 'f_settlement_date_month_Sep',
       'f_settlement_date_diff', 'f_settlement_amount',
       'f_settlement_percentage', 'f_settlement_term'],
      dtype='object', length=771)

In [5]:
lendingclub_helper.buildCategorialLabel(df, "loan_status", lendingclub_helper.parse_loan_status)

In [6]:
label_columns = lendingclub_helper.getLabelColumns(df)
label_columns

Index(['l_loan_status'], dtype='object')

In [7]:
features = df[feature_columns]
features.head()

,f_acc_now_delinq,f_acc_open_past_24mths,f_addr_state_AK,f_addr_state_AL,f_addr_state_AR,f_addr_state_AZ,f_addr_state_CA,f_addr_state_CO,f_addr_state_CT,f_addr_state_DC,...,f_settlement_date_month_Mar,f_settlement_date_month_May,f_settlement_date_month_NULL,f_settlement_date_month_Nov,f_settlement_date_month_Oct,f_settlement_date_month_Sep,f_settlement_date_diff,f_settlement_amount,f_settlement_percentage,f_settlement_term
0,0.0,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,352.795937,1114.35,45.0,1.0
1,0.0,2.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0.000000,0.00,0.0,0.0
2,0.0,2.0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0.000000,0.00,0.0,0.0
3,0.0,5.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0.000000,0.00,0.0,0.0
4,0.0,4.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0.000000,0.00,0.0,0.0

In [8]:
labels = df[label_columns[0]]
labels.head()

0    0
1    1
2    0
3    1
4    1
Name: l_loan_status, dtype: int64

In [9]:
model = scikit_helper.trainModel(features.values, labels.values)
# features.values
# labels.values

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [27]:
col = "hardship_start_date"
f_diff = "f_{0}_diff".format(col)
today = datetime.today()
df[f_diff] = (today - pd.to_datetime(df[col]))/np.timedelta64(1, "D")
df[f_diff].fillna(today)
# df[f_diff] = df[f_diff].fillna(df[f_diff].mean())

0     2018-06-18 19:03:39.336286
1     2018-06-18 19:03:39.336286
2     2018-06-18 19:03:39.336286
3     2018-06-18 19:03:39.336286
4     2018-06-18 19:03:39.336286
5     2018-06-18 19:03:39.336286
6     2018-06-18 19:03:39.336286
7     2018-06-18 19:03:39.336286
8     2018-06-18 19:03:39.336286
9     2018-06-18 19:03:39.336286
10    2018-06-18 19:03:39.336286
11    2018-06-18 19:03:39.336286
12    2018-06-18 19:03:39.336286
13    2018-06-18 19:03:39.336286
14    2018-06-18 19:03:39.336286
15    2018-06-18 19:03:39.336286
16    2018-06-18 19:03:39.336286
17    2018-06-18 19:03:39.336286
18    2018-06-18 19:03:39.336286
19    2018-06-18 19:03:39.336286
20    2018-06-18 19:03:39.336286
21    2018-06-18 19:03:39.336286
22    2018-06-18 19:03:39.336286
23    2018-06-18 19:03:39.336286
24    2018-06-18 19:03:39.336286
25    2018-06-18 19:03:39.336286
26    2018-06-18 19:03:39.336286
27    2018-06-18 19:03:39.336286
28    2018-06-18 19:03:39.336286
29    2018-06-18 19:03:39.336286
                 ...
970   2018-06-18 19:03:39.336286
971   2018-06-18 19:03:39.336286
972   2018-06-18 19:03:39.336286
973   2018-06-18 19:03:39.336286
974   2018-06-18 19:03:39.336286
975   2018-06-18 19:03:39.336286
976   2018-06-18 19:03:39.336286
977   2018-06-18 19:03:39.336286
978   2018-06-18 19:03:39.336286
979   2018-06-18 19:03:39.336286
980   2018-06-18 19:03:39.336286
981   2018-06-18 19:03:39.336286
982   2018-06-18 19:03:39.336286
983   2018-06-18 19:03:39.336286
984   2018-06-18 19:03:39.336286
985   2018-06-18 19:03:39.336286
986   2018-06-18 19:03:39.336286
987   2018-06-18 19:03:39.336286
988   2018-06-18 19:03:39.336286
989   2018-06-18 19:03:39.336286
990   2018-06-18 19:03:39.336286
991   2018-06-18 19:03:39.336286
992   2018-06-18 19:03:39.336286
993   2018-06-18 19:03:39.336286
994   2018-06-18 19:03:39.336286
995   2018-06-18 19:03:39.336286
996   2018-06-18 19:03:39.336286
997   2018-06-18 19:03:39.336286
998   2018-06-18 19:03:39.336286
999   2018-06-18 19:03:39.336286
Name: f_hardship_start_date_diff, Length: 1000, dtype: datetime64[ns]

In [20]:
df.drop("f_hardship_start_date_month_NULL", axis=1, inplace=True)

In [50]:
v = df[col][0]
pd.to_datetime(v)
# pd.to_datetime(df[col]).dt.strftime('%b')

NaT

In [28]:
df[col].isnull().all()

True

In [22]:
for c in feature_columns:
    try:
        sk.utils.assert_all_finite(df[c].values)
    except Exception as e:
        print(e)
        print(c)
        break

Input contains NaN, infinity or a value too large for dtype('float64').
f_hardship_start_date_diff

In [29]:
# df[["hardship_start_date", "f_hardship_start_date_month_NULL", "f_hardship_start_date_diff"]]
hardship_columns = [c for c in df.columns if "hardship_start_date" in c]
print(hardship_columns)

['hardship_start_date', 'f_hardship_start_date_month_Dec', 'f_hardship_start_date_month_NaT', 'f_hardship_start_date_month_Oct', 'f_hardship_start_date_diff']