In [36]:
import pandas_helper
import lendingclub_helper
import lendingclub_columns
import scikit_helper
import sklearn as sk
import numpy as np
import pandas as pd
from datetime import datetime

In [37]:
filename = "finished_train_sample.csv"
df = pandas_helper.readData(filename, lendingclub_columns.get_dtypes_by_name())
featurize_columns = ["annual_inc", "sub_grade"]
labelize_columns = ["loan_status"]
df = df[featurize_columns + labelize_columns]
df

     annual_inc sub_grade  loan_status
0      30000.00        B2  Charged Off
1      72500.00        A1   Fully Paid
2     250000.00        D5  Charged Off
3      92000.00        C4   Fully Paid
4      60000.00        B4   Fully Paid
5      44000.00        C1   Fully Paid
6      50000.00        C2  Charged Off
7     100000.00        B3   Fully Paid
8      37000.00        C2   Fully Paid
9      55000.00        D3  Charged Off
10     40000.00        B5   Fully Paid
11    136000.00        E3   Fully Paid
12    120000.00        B4   Fully Paid
13     40000.00        C2   Fully Paid
14     65000.00        B4   Fully Paid
15    122641.00        A5   Fully Paid
16     65000.00        B2   Fully Paid
17     55000.00        A3   Fully Paid
18     28000.00        D1   Fully Paid
19     93000.00        B4   Fully Paid
20     40000.00        C3   Fully Paid
21     89000.00        A4   Fully Paid
22     50000.00        E4   Fully Paid
23     75000.00        A5   Fully Paid
24     83946.00        B4   Fully Paid
25     70000.00        A5   Fully Paid
26     60000.00        B4   Fully Paid
27     59000.00        C2   Fully Paid
28     40000.00        F5  Charged Off
29     39500.00        B4   Fully Paid
..          ...       ...          ...
970   125000.00        D5   Fully Paid
971   120000.00        B1   Fully Paid
972    42000.00        B3   Fully Paid
973    75000.00        C2   Fully Paid
974   210000.00        B3   Fully Paid
975   110000.00        B5   Fully Paid
976   150000.00        C2   Fully Paid
977    80000.00        A1   Fully Paid
978    75000.00        C5  Charged Off
979    35000.00        B5   Fully Paid
980    40320.00        C1   Fully Paid
981   101000.00        A4   Fully Paid
982    70000.00        B2   Fully Paid
983    87000.00        C5  Charged Off
984    52852.57        B3   Fully Paid
985   351699.96        D4   Fully Paid
986    55000.00        B1   Fully Paid
987   420000.00        E2   Fully Paid
988    76000.00        D3   Fully Paid
989    53000.00        A4   Fully Paid
990    97800.00        B1   Fully Paid
991    43000.00        B2   Fully Paid
992    86000.00        C3  Charged Off
993   980000.00        G1   Fully Paid
994    52000.00        A1   Fully Paid
995    76300.00        E2   Fully Paid
996    40000.00        C2   Fully Paid
997    26688.00        E3   Fully Paid
998    82000.00        E2   Fully Paid
999    70000.00        C5   Fully Paid

[1000 rows x 3 columns]

In [38]:
feature_column_defs = lendingclub_columns.get_columns_by_names(featurize_columns)
lendingclub_helper.build_features_by_columns(df, feature_column_defs)
lendingclub_helper.buildCategorialLabel(df, labelize_columns[0], lendingclub_helper.parse_loan_status)
df

,annual_inc,sub_grade,loan_status,f_annual_inc,f_sub_grade_A1,f_sub_grade_A2,f_sub_grade_A3,f_sub_grade_A4,f_sub_grade_A5,f_sub_grade_B1,...,f_sub_grade_F4,f_sub_grade_F5,f_sub_grade_G1,f_sub_grade_G2,f_sub_grade_F3,f_sub_grade_G3,f_sub_grade_G4,f_sub_grade_G5,f_sub_grade_NULL,l_loan_status
0,30000.00,B2,Charged Off,30000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
1,72500.00,A1,Fully Paid,72500.00,1,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
2,250000.00,D5,Charged Off,250000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
3,92000.00,C4,Fully Paid,92000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
4,60000.00,B4,Fully Paid,60000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
5,44000.00,C1,Fully Paid,44000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
6,50000.00,C2,Charged Off,50000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
7,100000.00,B3,Fully Paid,100000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
8,37000.00,C2,Fully Paid,37000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
9,55000.00,D3,Charged Off,55000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
10,40000.00,B5,Fully Paid,40000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
11,136000.00,E3,Fully Paid,136000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
12,120000.00,B4,Fully Paid,120000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
13,40000.00,C2,Fully Paid,40000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
14,65000.00,B4,Fully Paid,65000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
15,122641.00,A5,Fully Paid,122641.00,0,0,0,0,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
16,65000.00,B2,Fully Paid,65000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
17,55000.00,A3,Fully Paid,55000.00,0,0,1,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
18,28000.00,D1,Fully Paid,28000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
19,93000.00,B4,Fully Paid,93000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
20,40000.00,C3,Fully Paid,40000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
21,89000.00,A4,Fully Paid,89000.00,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
22,50000.00,E4,Fully Paid,50000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
23,75000.00,A5,Fully Paid,75000.00,0,0,0,0,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
24,83946.00,B4,Fully Paid,83946.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
25,70000.00,A5,Fully Paid,70000.00,0,0,0,0,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
26,60000.00,B4,Fully Paid,60000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
27,59000.00,C2,Fully Paid,59000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
28,40000.00,F5,Charged Off,40000.00,0,0,0,0,0,0,...,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0
29,39500.00,B4,Fully Paid,39500.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,125000.00,D5,Fully Paid,125000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
971,120000.00,B1,Fully Paid,120000.00,0,0,0,0,0,1,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
972,42000.00,B3,Fully Paid,42000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
973,75000.00,C2,Fully Paid,75000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
974,210000.00,B3,Fully Paid,210000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
975,110000.00,B5,Fully Paid,110000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
976,150000.00,C2,Fully Paid,150000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
977,80000.00,A1,Fully Paid,80000.00,1,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
978,75000.00,C5,Charged Off,75000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
979,35000.00,B5,Fully Paid,35000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
980,40320.00,C1,Fully Paid,40320.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
981,101000.00,A4,Fully Paid,101000.00,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
982,70000.00,B2,Fully Paid,70000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
983,87000.00,C5,Charged Off,87000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
984,52852.57,B3,Fully Paid,52852.57,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
985,351699.96,D4,Fully Paid,351699.96,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
986,55000.00,B1,Fully Paid,55000.00,0,0,0,0,0,1,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
987,420000.00,E2,Fully Paid,420000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
988,76000.00,D3,Fully Paid,76000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
989,53000.00,A4,Fully Paid,53000.00,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
990,97800.00,B1,Fully Paid,97800.00,0,0,0,0,0,1,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
991,43000.00,B2,Fully Paid,43000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
992,86000.00,C3,Charged Off,86000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
993,980000.00,G1,Fully Paid,980000.00,0,0,0,0,0,0,...,0,0,1,0,0.0,0.0,0.0,0.0,0.0,1
994,52000.00,A1,Fully Paid,52000.00,1,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
995,76300.00,E2,Fully Paid,76300.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
996,40000.00,C2,Fully Paid,40000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
997,26688.00,E3,Fully Paid,26688.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
998,82000.00,E2,Fully Paid,82000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
999,70000.00,C5,Fully Paid,70000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1

In [39]:
feature_columns = lendingclub_helper.getFeatureColumns(df)
label_columns = lendingclub_helper.getLabelColumns(df)

X = df[feature_columns].values
y = df[label_columns[0]].values

model = scikit_helper.trainModel(X, y)
model

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [46]:
accuracy = scikit_helper.getAccuracy(model, X, y)
print("accuracy: {}".format(accuracy))

accuracy: 0.846

KeyError: '[0] not in index'

In [55]:
for i, row in df.iterrows():
    predicted = model.predict(X[[i]])
    if y[i] != predicted:
        print(row[["annual_inc", "sub_grade"]])
#         print(row)
        print("predicted {}, actual {}".format(predicted, y[i]))

annual_inc    30000
sub_grade        B2
Name: 0, dtype: object
predicted [1], actual 0
annual_inc    250000
sub_grade         D5
Name: 2, dtype: object
predicted [1], actual 0
annual_inc    50000
sub_grade        C2
Name: 6, dtype: object
predicted [1], actual 0
annual_inc    55000
sub_grade        D3
Name: 9, dtype: object
predicted [1], actual 0
annual_inc    40000
sub_grade        F5
Name: 28, dtype: object
predicted [1], actual 0
annual_inc    80000
sub_grade        C1
Name: 41, dtype: object
predicted [1], actual 0
annual_inc    34000
sub_grade        E4
Name: 65, dtype: object
predicted [1], actual 0
annual_inc    107000
sub_grade         D3
Name: 70, dtype: object
predicted [1], actual 0
annual_inc    100000
sub_grade         E3
Name: 107, dtype: object
predicted [1], actual 0
annual_inc    35000
sub_grade        D4
Name: 108, dtype: object
predicted [1], actual 0
annual_inc    85000
sub_grade        D5
Name: 109, dtype: object
predicted [1], actual 0
annual_inc    29000
sub_grade        E2
Name: 117, dtype: object
predicted [1], actual 0
annual_inc    59000
sub_grade        C2
Name: 126, dtype: object
predicted [1], actual 0
annual_inc    55000
sub_grade        B5
Name: 127, dtype: object
predicted [1], actual 0
annual_inc    160000
sub_grade         B4
Name: 132, dtype: object
predicted [1], actual 0
annual_inc    40000
sub_grade        B3
Name: 135, dtype: object
predicted [1], actual 0
annual_inc    44000
sub_grade        E2
Name: 136, dtype: object
predicted [1], actual 0
annual_inc    97000
sub_grade        C3
Name: 142, dtype: object
predicted [1], actual 0
annual_inc    49000
sub_grade        B4
Name: 145, dtype: object
predicted [1], actual 0
annual_inc    125000
sub_grade         C2
Name: 167, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        B4
Name: 171, dtype: object
predicted [1], actual 0
annual_inc    80000
sub_grade        C1
Name: 172, dtype: object
predicted [1], actual 0
annual_inc    140000
sub_grade         B1
Name: 174, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        D3
Name: 177, dtype: object
predicted [1], actual 0
annual_inc    38000
sub_grade        D2
Name: 180, dtype: object
predicted [1], actual 0
annual_inc    200000
sub_grade         C1
Name: 182, dtype: object
predicted [1], actual 0
annual_inc    40000
sub_grade        C1
Name: 185, dtype: object
predicted [1], actual 0
annual_inc    63000
sub_grade        B1
Name: 186, dtype: object
predicted [1], actual 0
annual_inc    29000
sub_grade        A2
Name: 187, dtype: object
predicted [1], actual 0
annual_inc    100000
sub_grade         C3
Name: 205, dtype: object
predicted [1], actual 0
annual_inc    76000
sub_grade        C2
Name: 207, dtype: object
predicted [1], actual 0
annual_inc    89000
sub_grade        D3
Name: 209, dtype: object
predicted [1], actual 0
annual_inc    35000
sub_grade        E3
Name: 211, dtype: object
predicted [1], actual 0
annual_inc    110000
sub_grade         B3
Name: 217, dtype: object
predicted [1], actual 0
annual_inc    54000
sub_grade        D1
Name: 218, dtype: object
predicted [1], actual 0
annual_inc    75000
sub_grade        E1
Name: 222, dtype: object
predicted [1], actual 0
annual_inc    95000
sub_grade        E5
Name: 223, dtype: object
predicted [1], actual 0
annual_inc    84000
sub_grade        D1
Name: 224, dtype: object
predicted [1], actual 0
annual_inc    43000
sub_grade        C4
Name: 225, dtype: object
predicted [1], actual 0
annual_inc    85000
sub_grade        D4
Name: 233, dtype: object
predicted [1], actual 0
annual_inc    43000
sub_grade        D5
Name: 236, dtype: object
predicted [1], actual 0
annual_inc    49000
sub_grade        C1
Name: 245, dtype: object
predicted [1], actual 0
annual_inc    36000
sub_grade        D2
Name: 249, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        B5
Name: 256, dtype: object
predicted [1], actual 0
annual_inc    80000
sub_grade        A5
Name: 279, dtype: object
predicted [1], actual 0
annual_inc    30000
sub_grade        B2
Name: 296, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        B1
Name: 302, dtype: object
predicted [1], actual 0
annual_inc    36000
sub_grade        C5
Name: 307, dtype: object
predicted [1], actual 0
annual_inc    74000
sub_grade        B3
Name: 315, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        B4
Name: 320, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        D3
Name: 324, dtype: object
predicted [1], actual 0
annual_inc    46000
sub_grade        C4
Name: 339, dtype: object
predicted [0], actual 1
annual_inc    35000
sub_grade        C2
Name: 344, dtype: object
predicted [1], actual 0
annual_inc    16800
sub_grade        B5
Name: 346, dtype: object
predicted [1], actual 0
annual_inc    50000
sub_grade        C5
Name: 348, dtype: object
predicted [1], actual 0
annual_inc    43000
sub_grade        B5
Name: 356, dtype: object
predicted [1], actual 0
annual_inc    125000
sub_grade         C1
Name: 360, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        D4
Name: 371, dtype: object
predicted [1], actual 0
annual_inc    53000
sub_grade        D4
Name: 373, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        C4
Name: 381, dtype: object
predicted [1], actual 0
annual_inc    33000
sub_grade        C2
Name: 387, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        A4
Name: 394, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        D3
Name: 411, dtype: object
predicted [1], actual 0
annual_inc    29000
sub_grade        E1
Name: 414, dtype: object
predicted [1], actual 0
annual_inc    47000
sub_grade        C3
Name: 436, dtype: object
predicted [1], actual 0
annual_inc    60000
sub_grade        C4
Name: 440, dtype: object
predicted [1], actual 0
annual_inc    52000
sub_grade        E2
Name: 441, dtype: object
predicted [1], actual 0
annual_inc    65000
sub_grade        D5
Name: 450, dtype: object
predicted [1], actual 0
annual_inc    92000
sub_grade        C1
Name: 458, dtype: object
predicted [1], actual 0
annual_inc    114000
sub_grade         C2
Name: 464, dtype: object
predicted [1], actual 0
annual_inc    104000
sub_grade         E2
Name: 467, dtype: object
predicted [1], actual 0
annual_inc    120000
sub_grade         B3
Name: 469, dtype: object
predicted [1], actual 0
annual_inc    46000
sub_grade        E3
Name: 473, dtype: object
predicted [0], actual 1
annual_inc    10000
sub_grade        B3
Name: 475, dtype: object
predicted [1], actual 0
annual_inc    50000
sub_grade        D1
Name: 479, dtype: object
predicted [1], actual 0
annual_inc    42000
sub_grade        B4
Name: 487, dtype: object
predicted [1], actual 0
annual_inc    65000
sub_grade        B4
Name: 499, dtype: object
predicted [1], actual 0
annual_inc    35000
sub_grade        D1
Name: 501, dtype: object
predicted [1], actual 0
annual_inc    120000
sub_grade         E5
Name: 504, dtype: object
predicted [1], actual 0
annual_inc    32000
sub_grade        D1
Name: 507, dtype: object
predicted [1], actual 0
annual_inc    37000
sub_grade        D2
Name: 511, dtype: object
predicted [1], actual 0
annual_inc    73000
sub_grade        G1
Name: 523, dtype: object
predicted [1], actual 0
annual_inc    32000
sub_grade        C1
Name: 527, dtype: object
predicted [1], actual 0
annual_inc    69000
sub_grade        A3
Name: 529, dtype: object
predicted [1], actual 0
annual_inc    75000
sub_grade        B3
Name: 538, dtype: object
predicted [1], actual 0
annual_inc    77000
sub_grade        B5
Name: 541, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        B3
Name: 551, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        C1
Name: 554, dtype: object
predicted [1], actual 0
annual_inc    150000
sub_grade         C3
Name: 561, dtype: object
predicted [1], actual 0
annual_inc    60000
sub_grade        D2
Name: 569, dtype: object
predicted [1], actual 0
annual_inc    60000
sub_grade        C2
Name: 574, dtype: object
predicted [1], actual 0
annual_inc    80000
sub_grade        B3
Name: 583, dtype: object
predicted [1], actual 0
annual_inc    60000
sub_grade        D1
Name: 588, dtype: object
predicted [1], actual 0
annual_inc    68000
sub_grade        C1
Name: 595, dtype: object
predicted [1], actual 0
annual_inc    80000
sub_grade        D4
Name: 598, dtype: object
predicted [1], actual 0
annual_inc    60000
sub_grade        E2
Name: 602, dtype: object
predicted [1], actual 0
annual_inc    92000
sub_grade        B3
Name: 609, dtype: object
predicted [1], actual 0
annual_inc    75000
sub_grade        C1
Name: 624, dtype: object
predicted [1], actual 0
annual_inc    79000
sub_grade        C3
Name: 631, dtype: object
predicted [1], actual 0
annual_inc    95000
sub_grade        E5
Name: 632, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        C5
Name: 638, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        D2
Name: 640, dtype: object
predicted [1], actual 0
annual_inc    100000
sub_grade         F2
Name: 641, dtype: object
predicted [1], actual 0
annual_inc    20000
sub_grade        B5
Name: 644, dtype: object
predicted [1], actual 0
annual_inc    56000
sub_grade        C1
Name: 648, dtype: object
predicted [1], actual 0
annual_inc    100000
sub_grade         D5
Name: 654, dtype: object
predicted [1], actual 0
annual_inc    42000
sub_grade        C2
Name: 656, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        D4
Name: 661, dtype: object
predicted [1], actual 0
annual_inc    80000
sub_grade        D1
Name: 687, dtype: object
predicted [1], actual 0
annual_inc    87000
sub_grade        A5
Name: 691, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        D2
Name: 694, dtype: object
predicted [1], actual 0
annual_inc    72000
sub_grade        D1
Name: 705, dtype: object
predicted [1], actual 0
annual_inc    40000
sub_grade        F1
Name: 725, dtype: object
predicted [1], actual 0
annual_inc    51000
sub_grade        C2
Name: 727, dtype: object
predicted [1], actual 0
annual_inc    72000
sub_grade        C3
Name: 733, dtype: object
predicted [1], actual 0
annual_inc    85000
sub_grade        D5
Name: 757, dtype: object
predicted [1], actual 0
annual_inc    36000
sub_grade        D5
Name: 758, dtype: object
predicted [1], actual 0
annual_inc    53300
sub_grade        D2
Name: 763, dtype: object
predicted [1], actual 0
annual_inc    100000
sub_grade         B1
Name: 765, dtype: object
predicted [1], actual 0
annual_inc    140000
sub_grade         C4
Name: 766, dtype: object
predicted [1], actual 0
annual_inc    56000
sub_grade        D3
Name: 772, dtype: object
predicted [1], actual 0
annual_inc    57000
sub_grade        D5
Name: 776, dtype: object
predicted [1], actual 0
annual_inc    50000
sub_grade        C4
Name: 779, dtype: object
predicted [1], actual 0
annual_inc    83000
sub_grade        D1
Name: 795, dtype: object
predicted [1], actual 0
annual_inc    130000
sub_grade         C1
Name: 804, dtype: object
predicted [1], actual 0
annual_inc    32000
sub_grade        C4
Name: 805, dtype: object
predicted [1], actual 0
annual_inc    40000
sub_grade        B5
Name: 809, dtype: object
predicted [1], actual 0
annual_inc    118000
sub_grade         E4
Name: 812, dtype: object
predicted [1], actual 0
annual_inc    45000
sub_grade        C2
Name: 814, dtype: object
predicted [1], actual 0
annual_inc    26400
sub_grade        C5
Name: 819, dtype: object
predicted [1], actual 0
annual_inc    55000
sub_grade        C2
Name: 830, dtype: object
predicted [1], actual 0
annual_inc    33000
sub_grade        E5
Name: 835, dtype: object
predicted [1], actual 0
annual_inc    54000
sub_grade        C3
Name: 845, dtype: object
predicted [1], actual 0
annual_inc    75000
sub_grade        C4
Name: 849, dtype: object
predicted [1], actual 0
annual_inc    250000
sub_grade         B5
Name: 851, dtype: object
predicted [1], actual 0
annual_inc    50000
sub_grade        C4
Name: 862, dtype: object
predicted [1], actual 0
annual_inc    40000
sub_grade        C3
Name: 869, dtype: object
predicted [1], actual 0
annual_inc    95000
sub_grade        D3
Name: 875, dtype: object
predicted [1], actual 0
annual_inc    50000
sub_grade        C4
Name: 879, dtype: object
predicted [1], actual 0
annual_inc    110000
sub_grade         E4
Name: 881, dtype: object
predicted [1], actual 0
annual_inc    60000
sub_grade        D5
Name: 884, dtype: object
predicted [1], actual 0
annual_inc    135000
sub_grade         B4
Name: 897, dtype: object
predicted [1], actual 0
annual_inc    36000
sub_grade        D5
Name: 900, dtype: object
predicted [1], actual 0
annual_inc    32000
sub_grade        C5
Name: 904, dtype: object
predicted [1], actual 0
annual_inc    36000
sub_grade        C5
Name: 909, dtype: object
predicted [1], actual 0
annual_inc    72000
sub_grade        D2
Name: 920, dtype: object
predicted [1], actual 0
annual_inc    52000
sub_grade        F1
Name: 922, dtype: object
predicted [1], actual 0
annual_inc    50000
sub_grade        D4
Name: 924, dtype: object
predicted [1], actual 0
annual_inc    120000
sub_grade         B3
Name: 927, dtype: object
predicted [1], actual 0
annual_inc    120000
sub_grade         C3
Name: 960, dtype: object
predicted [1], actual 0
annual_inc    70000
sub_grade        E2
Name: 961, dtype: object
predicted [1], actual 0
annual_inc    40000
sub_grade        F1
Name: 962, dtype: object
predicted [1], actual 0

annual_inc    75000
sub_grade        C5
Name: 978, dtype: object
predicted [1], actual 0
annual_inc    87000
sub_grade        C5
Name: 983, dtype: object
predicted [1], actual 0

In [48]:
df

,annual_inc,sub_grade,loan_status,f_annual_inc,f_sub_grade_A1,f_sub_grade_A2,f_sub_grade_A3,f_sub_grade_A4,f_sub_grade_A5,f_sub_grade_B1,...,f_sub_grade_F4,f_sub_grade_F5,f_sub_grade_G1,f_sub_grade_G2,f_sub_grade_F3,f_sub_grade_G3,f_sub_grade_G4,f_sub_grade_G5,f_sub_grade_NULL,l_loan_status
0,30000.00,B2,Charged Off,30000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
1,72500.00,A1,Fully Paid,72500.00,1,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
2,250000.00,D5,Charged Off,250000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
3,92000.00,C4,Fully Paid,92000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
4,60000.00,B4,Fully Paid,60000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
5,44000.00,C1,Fully Paid,44000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
6,50000.00,C2,Charged Off,50000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
7,100000.00,B3,Fully Paid,100000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
8,37000.00,C2,Fully Paid,37000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
9,55000.00,D3,Charged Off,55000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
10,40000.00,B5,Fully Paid,40000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
11,136000.00,E3,Fully Paid,136000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
12,120000.00,B4,Fully Paid,120000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
13,40000.00,C2,Fully Paid,40000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
14,65000.00,B4,Fully Paid,65000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
15,122641.00,A5,Fully Paid,122641.00,0,0,0,0,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
16,65000.00,B2,Fully Paid,65000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
17,55000.00,A3,Fully Paid,55000.00,0,0,1,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
18,28000.00,D1,Fully Paid,28000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
19,93000.00,B4,Fully Paid,93000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
20,40000.00,C3,Fully Paid,40000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
21,89000.00,A4,Fully Paid,89000.00,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
22,50000.00,E4,Fully Paid,50000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
23,75000.00,A5,Fully Paid,75000.00,0,0,0,0,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
24,83946.00,B4,Fully Paid,83946.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
25,70000.00,A5,Fully Paid,70000.00,0,0,0,0,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
26,60000.00,B4,Fully Paid,60000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
27,59000.00,C2,Fully Paid,59000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
28,40000.00,F5,Charged Off,40000.00,0,0,0,0,0,0,...,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0
29,39500.00,B4,Fully Paid,39500.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,125000.00,D5,Fully Paid,125000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
971,120000.00,B1,Fully Paid,120000.00,0,0,0,0,0,1,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
972,42000.00,B3,Fully Paid,42000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
973,75000.00,C2,Fully Paid,75000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
974,210000.00,B3,Fully Paid,210000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
975,110000.00,B5,Fully Paid,110000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
976,150000.00,C2,Fully Paid,150000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
977,80000.00,A1,Fully Paid,80000.00,1,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
978,75000.00,C5,Charged Off,75000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
979,35000.00,B5,Fully Paid,35000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
980,40320.00,C1,Fully Paid,40320.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
981,101000.00,A4,Fully Paid,101000.00,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
982,70000.00,B2,Fully Paid,70000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
983,87000.00,C5,Charged Off,87000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
984,52852.57,B3,Fully Paid,52852.57,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
985,351699.96,D4,Fully Paid,351699.96,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
986,55000.00,B1,Fully Paid,55000.00,0,0,0,0,0,1,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
987,420000.00,E2,Fully Paid,420000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
988,76000.00,D3,Fully Paid,76000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
989,53000.00,A4,Fully Paid,53000.00,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
990,97800.00,B1,Fully Paid,97800.00,0,0,0,0,0,1,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
991,43000.00,B2,Fully Paid,43000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
992,86000.00,C3,Charged Off,86000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0
993,980000.00,G1,Fully Paid,980000.00,0,0,0,0,0,0,...,0,0,1,0,0.0,0.0,0.0,0.0,0.0,1
994,52000.00,A1,Fully Paid,52000.00,1,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
995,76300.00,E2,Fully Paid,76300.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
996,40000.00,C2,Fully Paid,40000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
997,26688.00,E3,Fully Paid,26688.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
998,82000.00,E2,Fully Paid,82000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
999,70000.00,C5,Fully Paid,70000.00,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1