In [46]:
import pandas
import numpy as np

In [36]:
df3a = pandas.read_csv("../data/LoanStats3a_securev1.csv", skiprows=1)
df3b = pandas.read_csv("../data/LoanStats3b_securev1.csv", skiprows=1)
# datasets come from https://www.lendingclub.com/info/download-data.action
# checked the two datasets have the same columns, so can use 3a to build model, 3b for testing.

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
df3a.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1077501,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df3b.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,188181.000000,188181.00000,188181.000000,188181.000000,1.881810e+05,188181.000000,188181.000000,188181.000000,188181.000000,...,78.0,78.000000,78.0,78.000000,67.000000,78.000000,78.000000,1842.000000,1842.000000,1842.000000
mean,NaN,14354.139366,14351.61985,14339.617827,443.734012,7.223328e+04,17.060171,0.239626,696.810119,700.810225,...,3.0,97.448974,3.0,13.576923,293.591194,6319.382436,172.334359,4348.808903,45.882410,4.394137
std,NaN,8114.766207,8112.60861,8107.009785,242.648651,5.182459e+04,7.597634,0.703730,29.958302,29.958829,...,0.0,47.597180,0.0,9.635593,130.478897,2878.242927,180.184122,3195.155762,9.461731,7.506139
min,NaN,1000.000000,1000.00000,950.000000,4.930000,4.800000e+03,0.000000,0.000000,660.000000,664.000000,...,3.0,30.220000,3.0,0.000000,90.660000,2221.640000,0.130000,181.000000,0.200000,0.000000
25%,NaN,8000.000000,8000.00000,8000.000000,269.980000,4.500000e+04,11.340000,0.000000,675.000000,679.000000,...,3.0,61.415000,3.0,2.000000,194.010000,4233.235000,71.025000,2015.000000,40.220000,0.000000
50%,NaN,12175.000000,12125.00000,12100.000000,398.210000,6.200000e+04,16.780000,0.000000,690.000000,694.000000,...,3.0,85.100000,3.0,15.000000,263.670000,5810.810000,119.765000,3600.700000,45.000000,0.000000
75%,NaN,20000.000000,20000.00000,19975.000000,578.310000,8.700000e+04,22.580000,0.000000,710.000000,714.000000,...,3.0,138.655000,3.0,21.000000,419.190000,8255.372500,219.900000,5902.730000,50.000000,8.000000
max,NaN,35000.000000,35000.00000,35000.000000,1408.130000,7.141778e+06,34.990000,29.000000,845.000000,850.000000,...,3.0,247.400000,3.0,29.000000,531.720000,15761.170000,991.790000,33601.000000,184.360000,36.000000

In [42]:
[c for c in df3a.columns if min(df3a[c]) > 0]

TypeError: '<' not supported between instances of 'str' and 'int'

In [58]:
len([x for x in df3b["tot_coll_amt"] if not np.isnan(x) and x > 0])

13976

In [18]:
[c for c in df.columns if "off" in c]

['chargeoff_within_12_mths',
 'sec_app_chargeoff_within_12_mths',
 'hardship_payoff_balance_amount']

In [26]:
df['chargeoff_within_12_mths'].describe()
# df['sec_app_chargeoff_within_12_mths'].describe()
# df['hardship_payoff_balance_amount'].describe()

count    42390.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: chargeoff_within_12_mths, dtype: float64