In [1]:
import pandas
import numpy as np

from columns import columns

In [6]:
df3a = pandas.read_csv("../data/LoanStats3a_securev1.csv")
# df3b = pandas.read_csv("../data/LoanStats3b_securev1.csv")
# datasets come from https://www.lendingclub.com/info/download-data.action
# need to remove non-csv rows from the beginning, middle and end of the data file
# checked the two datasets have the same columns, so can use 3a to build model, 3b for testing.
df3a.columns

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [130]:
col = "loan_status"
df3a[col].unique()
# print(columns[col]["description"])
# parsed_values = [columns[col]["parseFunction"](x) for x in df3a[col]]
# # print(len(parsed_values))
# print(parsed_values)
# df3a[["id",col]].groupby(col).count()

array(['Fully Paid', 'Charged Off',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'], dtype=object)

In [108]:
# types = dict(df3a.dtypes == "object")
types = dict(df3a.dtypes == "O")
o_t = set(types.keys())
types = dict(df3a.dtypes == "object")
ob_t = set(types.keys())
len(o_t & ob_t)
# [x for x in types.keys() if types[x] ]

AttributeError: 'Series' object has no attribute 'value'

In [126]:
df3a.dtypes.unique()  # array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)
object_columns = dict(df3a.dtypes == "O")
numeric_columns = [x for x in object_columns.keys() if object_columns[x] == False]
numeric_columns

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [135]:
X = df3a[numeric_columns].values
y = df3a["loan_status"]
y

0                                               Fully Paid
1                                              Charged Off
2                                               Fully Paid
3                                               Fully Paid
4                                               Fully Paid
5                                               Fully Paid
6                                               Fully Paid
7                                               Fully Paid
8                                              Charged Off
9                                              Charged Off
10                                              Fully Paid
11                                              Fully Paid
12                                             Charged Off
13                                              Fully Paid
14                                             Charged Off
15                                              Fully Paid
16                                              Fully Paid
17                                              Fully Paid
18                                              Fully Paid
19                                              Fully Paid
20                                              Fully Paid
21                                             Charged Off
22                                              Fully Paid
23                                              Fully Paid
24                                             Charged Off
25                                              Fully Paid
26                                             Charged Off
27                                             Charged Off
28                                              Fully Paid
29                                              Fully Paid
                               ...
42505    Does not meet the credit policy. Status:Charge...
42506    Does not meet the credit policy. Status:Fully ...
42507    Does not meet the credit policy. Status:Fully ...
42508    Does not meet the credit policy. Status:Fully ...
42509    Does not meet the credit policy. Status:Fully ...
42510    Does not meet the credit policy. Status:Fully ...
42511    Does not meet the credit policy. Status:Fully ...
42512    Does not meet the credit policy. Status:Fully ...
42513    Does not meet the credit policy. Status:Fully ...
42514    Does not meet the credit policy. Status:Fully ...
42515    Does not meet the credit policy. Status:Fully ...
42516    Does not meet the credit policy. Status:Fully ...
42517    Does not meet the credit policy. Status:Fully ...
42518    Does not meet the credit policy. Status:Fully ...
42519    Does not meet the credit policy. Status:Fully ...
42520    Does not meet the credit policy. Status:Fully ...
42521    Does not meet the credit policy. Status:Charge...
42522    Does not meet the credit policy. Status:Fully ...
42523    Does not meet the credit policy. Status:Fully ...
42524    Does not meet the credit policy. Status:Charge...
42525    Does not meet the credit policy. Status:Fully ...
42526    Does not meet the credit policy. Status:Fully ...
42527    Does not meet the credit policy. Status:Fully ...
42528    Does not meet the credit policy. Status:Fully ...
42529    Does not meet the credit policy. Status:Charge...
42530    Does not meet the credit policy. Status:Fully ...
42531    Does not meet the credit policy. Status:Fully ...
42532    Does not meet the credit policy. Status:Fully ...
42533    Does not meet the credit policy. Status:Fully ...
42534    Does not meet the credit policy. Status:Fully ...
Name: loan_status, Length: 42535, dtype: object

In [90]:
df3a.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

In [17]:
df3a.astype(str).groupby(["settlement_status"])["id"].count()

settlement_status
ACTIVE          5
BROKEN         14
COMPLETE      139
nan         42380
Name: id, dtype: int64

In [30]:
df3a.astype(str).groupby(["loan_status"])["id"].count()

loan_status
Charged Off                                             5670
Does not meet the credit policy. Status:Charged Off      761
Does not meet the credit policy. Status:Fully Paid      1988
Fully Paid                                             34116
nan                                                        3
Name: id, dtype: int64

In [39]:
df3a.where(df3a.loan_status != df3a.loan_status)[["id", "loan_status"]]

                                                    id loan_status
0                                                  NaN         NaN
1                                                  NaN         NaN
2                                                  NaN         NaN
3                                                  NaN         NaN
4                                                  NaN         NaN
5                                                  NaN         NaN
6                                                  NaN         NaN
7                                                  NaN         NaN
8                                                  NaN         NaN
9                                                  NaN         NaN
10                                                 NaN         NaN
11                                                 NaN         NaN
12                                                 NaN         NaN
13                                                 NaN         NaN
14                                                 NaN         NaN
15                                                 NaN         NaN
16                                                 NaN         NaN
17                                                 NaN         NaN
18                                                 NaN         NaN
19                                                 NaN         NaN
20                                                 NaN         NaN
21                                                 NaN         NaN
22                                                 NaN         NaN
23                                                 NaN         NaN
24                                                 NaN         NaN
25                                                 NaN         NaN
26                                                 NaN         NaN
27                                                 NaN         NaN
28                                                 NaN         NaN
29                                                 NaN         NaN
...                                                ...         ...
42508                                              NaN         NaN
42509                                              NaN         NaN
42510                                              NaN         NaN
42511                                              NaN         NaN
42512                                              NaN         NaN
42513                                              NaN         NaN
42514                                              NaN         NaN
42515                                              NaN         NaN
42516                                              NaN         NaN
42517                                              NaN         NaN
42518                                              NaN         NaN
42519                                              NaN         NaN
42520                                              NaN         NaN
42521                                              NaN         NaN
42522                                              NaN         NaN
42523                                              NaN         NaN
42524                                              NaN         NaN
42525                                              NaN         NaN
42526                                              NaN         NaN
42527                                              NaN         NaN
42528                                              NaN         NaN
42529                                              NaN         NaN
42530                                              NaN         NaN
42531                                              NaN         NaN
42532                                              NaN         NaN
42533                                              NaN         NaN
42534                                              NaN         NaN
42535                                              NaN         NaN
42536  Total amount funded in policy code 1: 460296150         NaN
42537          Total amount funded in policy code 2: 0         NaN

[42538 rows x 2 columns]

In [46]:
len(df3a.columns)
labels = ["loan_status"]
df3a[labels]

In [69]:
[x for x in df3a[labels] if type(x) == str]

['loan_status']

In [62]:
df3a.iloc[[42536]]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
42536,Total amount funded in policy code 1: 460296150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
from columns import columns

for k in columns.keys():
    print(columns[k]["parseFunction"]())

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

151